@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway|Zilla+Slab+Highlight');

#home {
  display: flex;
  justify-content: center;
}

#home_wrapper {
  display: flex;
  flex-direction: column;
}

#home p {
  font-size: 25px;
}

.media-btn {
    background-color: #ee732f;
    border:none;
    color: white;
    font-family: 'Raleway', sans-serif;;
}

.media-btn:hover {
    background-color: rgb(255, 160, 92);
}
div.form-header.media-color {
    background-color: #ee732f;
}

.media-nav {
    background-color: #ffffff;
    color: #000000;
}

.media-platforms {
    background-color: #d9d9d9;
}

@media only screen and (max-width: 2875px) {
  .media-platforms {
    padding-left: 650px;
    padding-right: 650px;
  }
}

@media only screen and (max-width: 2300px) {
  .media-platforms {
    padding-left: 350px;
    padding-right: 350px;
  }
}

@media only screen and (max-width: 1440px) {
  .media-platforms {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media only screen and (max-width: 1024px) {
  .media-platforms {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .media-platforms {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .media-platforms {
    padding: 5px;
  }
}

.media-home {
    background-color: #ffffff;
    height: 100%;
}

.media-testimonials {
    background-color: #464a4c;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (min-width: 992px) {
  .media-testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.social-media-video {
    margin-top: 10%;
}

a button.media-btn-3 {
    background-color: white !important;
    color: #000000 !important;
    border: none;
}

.media-text {
    font-family: 'Zilla Slab', serif;
}

#why_ooh {
  font-size: 20px;
  padding-top: 10px !important;
}

#why_ooh b {
  font-size: 24px;
}

.media-about-body {
    background-color: white;
}

body main div.media-about {
    background-color: #ee732f;
}

body main div.bg-success-1 {
    background-color: #ee732f;
    color: white;
}
a.media-link {
    color: #1d1e1f !important;
}

body div div div div nav a.media-link {
    color: #1d1e1f !important;
}

.media-logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.media-logo img {
  width: 65%;
  margin-left: 17.5%;
}

media-platform-btn {
    position: fixed;
}

.car img.media-logo {
    height: 50px;
    width: 50px;
}

.type-LineString {
    background-color: #ee732f;
    padding: 1px;
}

.display-heading {
  font-size: 5.5rem !important;
}

@media only screen and (max-width: 1440px) {
  .display-heading {
    font-size: 5rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .display-heading {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .display-heading {
    font-size: 3rem !important;
  }
}

.media-img {
  width: auto !important;
  height: 400px;
}

@media only screen and (max-width: 1440px) {
  .media-img {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .media-img {
    height: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .media-img {
    height: 200px;
  }
}

pb-half {
    padding-bottom: 1px;
}

textarea {
    border-color: transparent;
}

.media-card {
    height: 210px;
}
.media-card-title {
    font-size: 1.5rem;
}

.card img.media-card-img {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 2560px) {
  .media-card {
    height: 190px;
  }
}

@media only screen and (max-width: 1440px) {
  .media-card {
    height: 210px;
  }
}

@media only screen and (max-width: 768px) {
  .media-card {
    height: 160px;
  }
  .media-card-title {
    font-size: 1.2rem;
  }
  .card img.media-card-img {
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 608px) {
  .media-card {
    height: 130px;
  }
  .media-card-title {
    font-size: 1rem;
  }
  .card img.media-card-img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .media-card {
    height: 110px;
  }
  .media-card-title {
    font-size: 1rem;
  }
  .card img.media-card-img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .media-card {
    height: 110px;
  }
  .media-card-title {
    font-size: 1rem;
  }
  .card img.media-card-img {
    height: 50px;
    width: 50px;
  }
}

body div.bg-success-1.media-contact-banner.text-white {
    background-color: #ee732f !important;
}

.btn-outline-grey {
  border: 2px solid #ffffff;
  border-radius: 7px;
  padding: 0px;
  color: #d9dce0 !important;
  background-color: transparent; }
  .btn-outline-grey:hover, .btn-outline-black:focus, .btn-outline-black:active, .btn-outline-black:active:focus {
    color: #d9dce0;
    border-color: #ffffff;
    background-color: transparent; }

.btn-outline-grey:hover {
  border: 2px solid #d9dce0;
}

@media only screen and (max-width: 2560px) {
  .btn-outline-grey {
    padding: 12px;
  }
}

@media only screen and (max-width: 1440px) {
  .btn-outline-grey {
    padding: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .btn-outline-grey {
    padding: 3px;
    width: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .btn-outline-grey {
    padding: 3px;
    width: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .btn-outline-grey {
    padding: 3px;
    width: 20px;
  }
}

.media-compact{
    max-height: 118px;
}

.media-platform-card {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    width: 75px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

@media (max-width: 517px) {
  .media-platform-card {
    padding-right: 15px;
    padding-left: 15px;
    width: 75px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 425px) {
  .media-platform-card {
    padding-right: 15px;
    padding-left: 15px;
    width: 75px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 320px) {
  .media-platform-card {
    padding-right: 10px;
    padding-left: 10px;
    width: 75px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 775px) {
  .media_footer {
    display: none;
  }

  #media_footer_links {
    padding-top: 0px !important;
    width: 55%;
  }

  #media_footer_links a {
    padding: 5px;
    padding-left: 0px;
  }

  #media_footer_memberships {
    width: 45%;
    padding-top: 0px !important;
  }

  #footer_rights {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}


media-raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 30px !important;
}

.media-form {
  padding: 5px;
}

.media-form input, .media-form textarea {
  margin-bottom: 15px;
  border: 1px solid #ededed;
  padding: 1px;
  padding-left: 3px;
}

.media-form textarea {
  resize: none;
}

.media-form input:focus, .media-form textarea:focus {
  border: 1px solid #ccc !important;
  box-shadow: 0 0 0 0 !important;
}

.media-form label {
  font-size: 16px;
  margin-bottom: 5px !important;
  padding-left: 0px !important;
}
