{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Adbikes</h1>
            <p class="lead animated fadeInDown text-center">These Eco-friendly Brand Ambassador machines offer great
                marketing opportunities.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../static/media/images/aud.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Audio</h4>
                          <p>Complete Sound Systems to play your custom created sound loop/commercial.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../static/media/images/ba.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Brand Ambassador</h4>
                          <p>Includes a well-trained Brand Ambassador (BA’s) that will engage consumers,
                            deliver promo items and collect data information.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/poster.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Mega Signs</h4>
                          <p>Two Larger Than Life Signs that capture the attention of not only
                              pedestrians but also cars as they go by.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/box2.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Storage</h4>
                          <p>Extra Large Storage Spaces, allowing for hot & cold food items as well as collateral items.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-01.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-02.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-03.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-04.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-05.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-06.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-07.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-08.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-09.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-10.jpg" alt="Adbike">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Adbikes/ab-11.jpg" alt="Adbike">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
