{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-4 text-center">Brand Ambassadors</h1>
            <p class="lead animated fadeInDown text-center">If our signs don’t tell consumers about your brand, our
                brand ambassadors will!</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../static/media/images/uniform.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Uniforms</h4>
                          <p>Our brand ambassadors will wear your company uniform or ours.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../static/media/images/experience.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Experience</h4>
                          <p>Every NMB ambassador is well trained and versed in your promotional cause.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/flier.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Fliers</h4>
                          <p>Ambassadors can distribute items such as coupons, fliers, or even wrapped food samples at
                              no additional cost to you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/planned.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Planned Execution</h4>
                          <p>Ambassadors will disperse material at predetermined locations to maximize the effectiveness
                              and breadth of your campaign.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-01.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-02.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-03.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-04.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-05.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-06.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-07.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-08.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-09.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-10.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-11.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-12.jpg" alt="Brand Ambassador">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BrandAmbassadors/ba-13.jpg" alt="Brand Ambassador">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
