{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white p-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-4 text-center">Building Banners</h1>
            <p class="lead animated fadeInDown text-center">We offer in-house designers that can create the
              perfect message for your building banner</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../static/media/images/design.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Design</h4>
                          <p>Don't already have graphics for your campaign? NMB has seen it all and is sure to provide an
                              eye-catching display!</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../static/media/images/print.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Print</h4>
                          <p>NMB offers reinforced banner material in either perforated or non-perforated vinyl.
                            Long last, full color bannering that will be delivered within one week of ordering.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/install.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Install</h4>
                          <p>Don't even move a finger. Let NMB securely install your new building banner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/permit.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Secure Permit</h4>
                          <p>In certain cases we will even secure all relevant permits for these signs. Although many
                              municipalities will only allow banners for a limited number of days</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/BuildingBanners/bb-01.jpg" alt="Building Banner">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BuildingBanners/bb-02.jpg" alt="Building Banner">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BuildingBanners/bb-03.jpg" alt="Building Banner">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BuildingBanners/bb-04.jpg" alt="Building Banner">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/BuildingBanners/bb-05.jpg" alt="Building Banner">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
