{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white p-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center"> Digital Mobile Billboards</h1>
            <p class="lead animated fadeInDown text-center">Reach target audiences directly where they live, work and play.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/aud.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Flexible</h4>
                          <p> Engage and develop a dialogue with consumers through unlimited creative implementations.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo"  src="../../../static/media/images/speed.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Time-Sensitive</h4>
                          <p> Digital enables instantaneous creative updates and the ability to respond in real-time to
                              current events and market conditions.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/pa.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Targeted</h4>
                          <p>Impact specific geographic and demographic audiences close to the point of sale.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/speed.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Efficient</h4>
                          <p> Optimize ad spend and work synergistically with other media to enhance ROI.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/DigitalMobileBillboards/dm-01.jpg" alt="Digital Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/DigitalMobileBillboards/dm-02.jpg" alt="Digital Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/DigitalMobileBillboards/dm-03.jpg" alt="Digital Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/DigitalMobileBillboards/dm-04.jpg" alt="Digital Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/DigitalMobileBillboards/dm-05.jpg" alt="Digital Mobile Billboard">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
