{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Fence Wraps</h1>
            <p class="lead animated fadeInDown text-center">The perfect eco-friendly media campaign for your project.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
        <div class="row mx-4 animated fadeIn">
            <div class="col-md-5 mx-auto">
                <div class="card z-depth-0 mx-sm-3">
                    <div class="row justify-content-center py-2">
                        <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/fence.png">
                    </div>
                    <div class="text-center">
                        <h4 class="mt-0 mb-1">Construction</h4>
                        <p>Many residential and commercial developers utilize fence wrapping as a means to extending their message
                            to the public about the current construction projects being executed..</p>
                    </div>
                </div>
            </div>
            <div class="m-2"></div>
            <div class="col-md-5 mx-auto">
                <div class="card z-depth-0 mx-sm-3">
                    <div class="row justify-content-center py-2">
                        <img class="d-flex flex-center z-depth-0 media-logo" src="../../../static/media/images/earth.png">
                    </div>
                    <div class="text-center">
                        <h4 class="mt-0 mb-1">Safety & Environmental Bonus</h4>
                        <p>Fence wraps can also act as an OSHA safety as well as an Eco-Friendly silt retention border to the
                            construction site.</p>
                    </div>
                </div>
            </div>
        </div>
          <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/FenceWraps/fw-01.jpg" alt="Fence Wrap">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/FenceWraps/fw-02.jpg" alt="Fence Wrap">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/FenceWraps/fw-03.jpg" alt="Fence Wrap">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
