{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Human Directionals</h1>
            <p class="lead animated fadeInDown text-center">Direct people straight from the streets into your front door. </p>
        </div>
    </div>
    <div>
      <div class="container p-3">
        <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
        <div class="row mx-4 animated fadeIn">
            <div class="col-md-5 mx-auto">
                <div class="card z-depth-0 mx-sm-3">
                    <div class="row justify-content-center py-2">
                        <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/shapes.png">
                    </div>
                    <div class="text-center">
                      <h4 class="mt-0 mb-1">Any Shape</h4>
                      <p>Your sign can be as creative as you want, or let us be creative for you! We can
                    create hundreds of different shapes for your message to be branded on, saving you time and money.</p>
                    </div>
                </div>
            </div>
            <div class="m-2"></div>
            <div class="col-md-5 mx-auto">
                <div class="card z-depth-0 mx-sm-3">
                    <div class="row justify-content-center py-2">
                        <img class="d-flex flex-center z-depth-0 media-logo" src="../../../static/media/images/group.png">
                    </div>
                    <div class="text-center">
                      <h4 class="mt-0 mb-1">Any Company</h4>
                      <p>Keep in mind we can deploy hundreds of brand ambassadors across the country at the
                    same time! No chain store is too large or too small.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-3 mt-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="media-img" src="../../../static/media/images/POP/HumanDirectionals/hd-01.jpg" alt="Human Directional">
                </div>
                <div class="carousel-item">
                  <img class="media-img" src="../../../static/media/images/POP/HumanDirectionals/hd-02.jpg" alt="Human Directional">
                </div>
                <div class="carousel-item">
                  <img class="media-img" src="../../../static/media/images/POP/HumanDirectionals/hd-03.jpg" alt="Human Directional">
                </div>
                <div class="carousel-item">
                  <img class="media-img" src="../../../static/media/images/POP/HumanDirectionals/hd-04.jpg" alt="Human Directional">
                </div>
                <div class="carousel-item">
                  <img class="media-img" src="../../../static/media/images/POP/HumanDirectionals/hd-05.jpg" alt="Human Directional">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
