{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white p-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-4 text-center">Aerial Inflatables</h1>
            <p class="lead animated fadeInDown text-center">Add a lift to your next campaign with one of our GIANT
                branded helium balloons!</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../static/media/images/reuse.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Reusability</h4>
                          <p>All balloons are reusable for many years and will be shipped to the client upon completion
                              of the campaign.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../static/media/images/ba.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Brand Ambassador</h4>
                          <p>Includes two well-trained Brand Ambassadors (BA’s) that will engage consumers,
                            deliver promo items and collect data information.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/eye2.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Visibility</h4>
                          <p>With a nighttime illumination feature, these units will be visible at all times of the day.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../static/media/images/cube.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Large Signage Space</h4>
                          <p>Unlike an advertising ball, our cubes offer 5 different signage opportunities to maximize
                              your campaign content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-01.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-02.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-03.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-04.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-05.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-06.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-07.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/AerialInflatables/ai-08.jpg" alt="Aerial Inflatable">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
