{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white p-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Mobile Billboards</h1>
            <p class="lead animated fadeInDown text-center">Reach target audiences directly where they live, work and play.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../../static/media/images/aud.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">External Sound Systems</h4>
                          <p> “Let’s get the party rocking...” In certain cases, mixing music with your visual advertisement
                              will upgrade your mobile message into a multifaceted sales building machine.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../../static/media/images/bulb.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Illumination</h4>
                          <p> Allowing night time viewing at sporting events, festivals, restaurant districts and malls
                              you may be targeting.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/pa.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">PA Systems</h4>
                          <p>Want to have a rally and your sound needs support? Many of our mobile billboards are equipped
                              with PA Systems, which will attract the attention your project deserves. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/speed.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Modular Staging Platforms</h4>
                          <p> NMB can create quickest stage setup you’ll ever see. Carrying portable staging in the back
                              of the units, we can set up for a fundraiser or promotion event within minutes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-02.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-03.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-04.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-05.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-06.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-07.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-08.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-09.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-10.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-11.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-12.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-13.jpg" alt="Mobile Billboard">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/MobileBillboards/mb-14.jpg" alt="Mobile Billboard">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
