{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Projection Media</h1>
            <p class="lead animated fadeInDown text-center">Looking for the perfect last minute guerilla campaign that
                catches all those nighttime eyes?</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../../static/media/images/eye2.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Visibility</h4>
                          <p>Our industry-standard projectors can project images up to 150 feet on flat surfaces,
                              providing the perfect way to pack advertising content into a manageable, eye-catching
                              campaign.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../../static/media/images/colors.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Color</h4>
                          <p>Images are displayed in brilliant full color! </p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/film.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Multi-Media</h4>
                          <p>We can display static pictures as well as videos and filmstrips.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/speed.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Deployment Speed & Strategy</h4>
                          <p>Our projection media specialists can quickly deploy and infiltrate densely populated areas,
                              finding the best areas to maximize exposure. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-01.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-02.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-03.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-04.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-05.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-06.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-07.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-08.jpg" alt="Projection Media">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/ProjectionMedia/pm-09.jpg" alt="Projection Media">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
