{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Roller Boards</h1>
            <p class="lead animated fadeInDown text-center">The perfect way to target foot traffic at major venues where
                larger mobile billboards have difficulty getting close up.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../../static/media/images/ba.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Professional Operators</h4>
                          <p>Our uniformed operators will gladly interact with pedestrians and make your advertisement
                              “jump” even more.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../../static/media/images/poster.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Mega Signs</h4>
                          <p>Two large 4’x 6’ image areas- Printed on durable full-color vinyl.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/flier.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Flyers</h4>
                          <p>NMB’s Roller Boards can carry flyers to disburse to the crowds no additional cost.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/wheel.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Maneuverable</h4>
                          <p>These units will infiltrate the masses and be able to reach the interior portions of
                              parking lots, malls and sporting events.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/RollerBoards/rb-01.jpg" alt="Roller Board">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/RollerBoards/rb-02.jpg" alt="Roller Board">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/RollerBoards/rb-03.jpg" alt="Roller Board">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/RollerBoards/rb-04.jpg" alt="Roller Board">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
