{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Sculptures</h1>
            <p class="lead animated fadeInDown text-center">Life-sized and quirky, these sculptures are guaranteed to
                make you the talking point!</p>
        </div>
    </div>
    <div>
        <div class="container p-5 mx-auto">
            <div class="row pl-md-5">
              <div class="col-md-6 justify-content-center">
                <div class="media p-4 wow fadeIn">
                  <img class="d-flex align-self-start mr-3 px-3" src="../../../static/media/images/life-sized.png">
                  <div class="media-body">
                    <h4 class="mt-0">Life-Sized</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mx-auto">
                <div class="media p-4 wow fadeIn">
                  <img class="d-flex align-self-start mr-3 px-3" src="../../../static/media/images/award.png">
                  <div class="media-body">
                    <h4 class="mt-0">Award-Winning</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pl-md-5">
              <div class="col-md-6">
                <div class="media p-4 wow fadeIn">
                  <img class="d-flex align-self-start mr-3 px-3" src="../../../static/media/images/experience.png">
                  <div class="media-body">
                    <h4 class="mt-0">Quirky</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 justify-content-center">
                <div class="media p-4 wow fadeIn">
                  <img class="d-flex align-self-start mr-3 px-3" src="../../../static/media/images/brain2.png">
                  <div class="media-body">
                    <h4 class="mt-0">Memorable</h4>
                  </div>
                </div>
              </div>
            </div>
        </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/Sculptures/ss-01.jpg" alt="Sculpture">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Sculptures/ss-02.jpg" alt="Sculpture">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/Sculptures/ss-03.jpg" alt="Sculpture">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}
