{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white py-4">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-3 text-center">Street Graphics</h1>
            <p class="lead animated fadeInDown text-center">Our eye-catching sidewalk art will literally put you under
                your clients’ feet!</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Details</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/C.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Chalk</h4>
                          <p>Art created using bio degradable chalk!</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" src="../../../static/media/images/vinyl.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Vinyl</h4>
                          <p>High traffic vinyl floor graphics!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" src="../../../static/media/images/deal.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Low Production Costs</h4>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" src="../../../static/media/images/speed.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Quck Turn Around Times</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/StreetGraphics/sg-01.jpg" alt="Street Graphic">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/StreetGraphics/sg-02.jpg" alt="Street Graphic">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/StreetGraphics/sg-03.jpg" alt="Street Graphic">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/StreetGraphics/sg-04.jpg" alt="Street Graphic">
                    </div>
                    <div class="carousel-item">
                      <img class="media-img" src="../../../static/media/images/POP/StreetGraphics/sg-05.jpg" alt="Street Graphic">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
