{% extends 'media/baseMedia.html' %}
{% load static %}

{% block media %}
<div class="">
    <div class="bg-inverse text-white p-5">
        <div class="container p-3">
            <h1 class="display-heading animated fadeInDown media-text pb-4 text-center">Auto, Marine, and Commercial Wraps</h1>
            <p class="lead animated fadeInDown text-center">NMB can design, print and install the perfect wrap on your
                boat, car, or fleet of commercial vehicles.</p>
        </div>
    </div>
    <div>
        <div class="container p-3">
            <h1 class="display-5 animated fadeIn media-text pt-4 text-center">Featuring...</h1>
            <div class="row mx-4 animated fadeIn">
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height="50px" src="../../../static/media/images/install.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Installations</h4>
                          <p>Guaranteed proffessional installations.</p>
                        </div>
                    </div>
                </div>
                <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0 media-logo" width=50px height=50px src="../../../static/media/images/warranty.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Warranties</h4>
                          <p>3, 4, and 5 year warranties available.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/onsite.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Onsite Service</h4>
                          <p>No need to drop off or pick up your vehicle for installation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center z-depth-0" width=50px height=50px src="../../../static/media/images/deal.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Deals</h4>
                          <p>Lowest price guaranteed!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-3 mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="media-img" src="../../../static/media/images/POP/3D.jpg" alt="Wrap">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}