{% extends 'media/base.html' %}
{% load static %}

{% block content %}
    <object data="../../static/media/docs/NMBTemplate-AerialInflatable.pdf"
    type="application/pdf" height="750px" width="100%">
    <p>This browser does not support PDFs. Please download the PDF to view it:
      <a href="../../../static/media/docs/NMBTemplate-AerialInflatable.pdf">Download PDF</a>.</p>
    </object>
{% endblock %}
