{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-about-background">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Our Story</h1>
                <p class="section-description animated fadeInDown mb-2">Since 2001, NMB has been on the forefront of branding products to the public.</p>
                <div class="p-1 type-LineString animated fadeInLeft"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-block">
                                <div class="row media-about-body">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/POP/MobileBillboards/mb-09.jpg"/>
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="b-0 mb-0 p-3"> NMB was established in 2001. Originally named National Mobile Billboards,
                                          LLC, our core goal was to provide mobile advertising opportunities on custom built trucks throughout
                                          North America. We had high expectations that we would eventually become the largest mobile billboard
                                          company in the United States. We now provide mobile billboard services using state-of-the-art equipment
                                          located throughout the country. Along the way, we also identified many other services which benefit our
                                          clients.
                                    </p>
                                    </div>
                                </div>
                                <div class="row media-about-body">
                                    <div class="col-md-7">
                                        <p class="b-0 mb-0 p-3 wow fadeIn"> For example, we found that custom built Adbikes offer an eco-friendly
                                          aspect as well as a brand ambassador engagement opportunity. Riders are well trained on the advertised
                                          product/services and consumers also also see a larger than life advertisement just a few feet from them.
                                          Incidentally, we are advocates of “Made in the USA” so it was only natural that our custom bikes are manufactured
                                          here at home. We even paired them with custom built trucks that could be wrapped for additional advertising
                                          exposure for our clients. This entire package has become so popular that other companies have followed our lead.
                                          The only thing is, they seldom match is the quality, delivery and execution NMB provides during each and every
                                          campaign. Today we offer the largest fleet of Mobile Adbikes in the United States. But the story doesn’t end there...
                                        </p>
                                    </div>
                                    <div class="col-md-5 wow fadeInRight">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/POP/Adbikes/adbike-05.jpg"/>
                                    </div>
                                </div>
                                <div class="row media-about-body">
                                    <div class="col-md-12 wow fadeIn">
                                        <p class="mb-0 p-3"> Over the years we have added a host of innovative media strategies such as Projection Media,
                                          Segway Chariots, and our unique Digital Adbikes and Digital Mobile Billboards that NMB solely owns and operates.
                                          Maintaining ownership of all media components allows us to control all aspects of a client's campaign. Since we
                                          sit directly between your advertising dollar and the consumers you are trying to reach, there is no need to worry
                                          about making sure the campaign strategy plans get to the right sub-vendor. The same cannot be said when you deal
                                          with “Brokers”, “Affiliates” and “Networks” - firms that frequently show little interest in the goals or desired
                                          results of the advertiser and most often don’t create the excitement about the brand they are representing - which
                                          is the very reason the client chose to use nontraditional media to begin with.
                                      </p>
                                    </div>
                                </div>
                                <div class="row media-about-body">
                                    <div class="col-md-8 wow fadeIn">
                                       <p class="mb-0 p-3"> Remember the old adage "You can talk the talk, but can you walk the walk?" Well, NMB lives by
                                         this statement – every day. NMB’s Managing Partner is highly involved on both Geopath (formally the Transit Audit Bureau)
                                         and the OAAA (Outdoor Advertising Association of America). We believe that these two professional organizations hold the
                                         key to keeping a common high standard in the outdoor advertising industry. As such, we encourage you to look to these
                                         organizations and its members before you merely do a Google Search for the media you are seeking. Your client will certainly
                                         appreciate it.
                                        </p>
                                    </div>
                                    <div class="col-md-4 wow fadeInRight">
                                        <img class="z-depth-0 p-3" width="275" src="../../static/media/images/teamwork.jpg"/>
                                    </div>
                                </div>
                                <div class="row media-about-body">
                                    <div class="col-md-12 wow fadeIn">
                                        <p class="mb-0 p-3">Where are we today? NMB is the largest solely owned and operated nontraditional advertising vendor in the
                                          United States, offering over a dozen media choices with a common thread...mobility. We have activated grass roots campaigns
                                          as well as numerous nationally based campaigns in both the United States and Canada.
                                        </p>
                                    </div>
                                    <div class="col-md-12 wow fadeIn">
                                        <p class="mb-0 p-3"> With all this in mind, NMB still employs the single strategy - Target, Captivate and Inspire the consumer.
                                          This is why so many companies continue to trust us to promote their brands. Why not choose NMB to deliver your message?
                                      </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
