{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NMB Media</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../../static/media/MDB/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../static/media/MDB/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../../static/media/main.css" rel="stylesheet">
</head>

    <body>

		<!-- nav -->
        <div class="container-fluid">
          <nav class="navbar navbar-toggleable-md z-depth-0 navbar-light">
      			<div class="pb-md-1">
      			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
      			  </button>
      				<span class="navbar-text hidden-lg-up">&nbsp;</span>
      			  <div class="collapse navbar-collapse" id="navbarNav">
      				<ul class="navbar-nav">
      				  <li class="nav-item px-2">
      					<a class="nav-link" href="{% url 'media:home' %}">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item px-2 dropdown"><a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                  <div class="dropdown-menu p-3" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item p-2" href="{% url 'media:about' %}">Our Story</a>
                    <a class="dropdown-item p-2" href="{% url 'media:whyooh' %}">Why OOH?</a>
                    <a class="dropdown-item p-2" href="{% url 'media:testimonials' %}">Testimonials</a>
                    <a class="dropdown-item p-2" href="{% url 'media:clients' %}">Clients</a>
                    <a class="dropdown-item p-2" href="{% url 'media:facebook' %}">Facebook Video</a>
                    <a class="dropdown-item p-2" href="{% url 'media:instagram' %}">Instagram Video</a>
                  </div>
                </li>
                <li class="nav-item px-2 dropdown"><a class="nav-link dropdown-toggle" href="{% url 'media:platforms' %}" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media</a>
                  <div class="dropdown-menu p-3" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item p-2" href="{% url 'media:adbikes' %}">Adbikes</a>
                    <a class="dropdown-item p-2" href="{% url 'media:aerial-inflatables' %}">Aerial Inflatables</a>
                    <a class="dropdown-item p-2" href="{% url 'media:digital-mobile-billboards' %}">Digital Mobile Billboards</a>
                    <a class="dropdown-item p-2" href="{% url 'media:brand-ambassadors' %}">Brand Ambassadors</a>
                    <a class="dropdown-item p-2" href="{% url 'media:banners' %}">Building Banners</a>
                    <a class="dropdown-item p-2" href="{% url 'media:digital-adbikes' %}">Digital Adbikes</a>
                    <a class="dropdown-item p-2" href="{% url 'media:fence-wraps' %}">Fence Wraps</a>
                    <a class="dropdown-item p-2" href="{% url 'media:human-directionals' %}">Human Directionals</a>
                    <a class="dropdown-item p-2" href="{% url 'media:mobile-billboards' %}">Mobile Billboards</a>
                    <a class="dropdown-item p-2" href="{% url 'media:projection-media' %}">Projection Media</a>
                    <a class="dropdown-item p-2" href="{% url 'media:roller-boards' %}">Roller Boards</a>
                    <a class="dropdown-item p-2" href="{% url 'media:sculptures' %}">Sculptures</a>
                    <a class="dropdown-item p-2" href="{% url 'media:segways' %}">Segways</a>
                    <a class="dropdown-item p-2" href="{% url 'media:street-graphics' %}">Street Graphics</a>
                    <a class="dropdown-item p-2" href="{% url 'media:walking-billboards' %}">Walking Billboards</a>
                    <a class="dropdown-item p-2" href="{% url 'media:3D-mobile-billboards' %}">3D Mobile Billboards</a>
                  </div>
                </li>
                <li class="nav-item px-2"><a class="nav-link" href="{% url 'media:design-specs' %}">Design Specs</a></li>
      				  <li class="nav-item px-2"><a class="nav-link" href="{% url 'media:contact' %}">Contact</a></li>
      				</ul>
      			  </div>
      			</div>
      		</nav>
            </div>
		<!-- nav -->

		<main class="content">
            {% block media %}
            {% endblock %}
	    </main>

        <!-- Contact -->
        <div class="bg-success-1 media-contact-banner text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="display-4 wow fadeIn pt-3">Get in touch</h1>
                </div>
                <div class="row justify-content-center">
                    <h1 class="lead wow fadeIn px-2 text-center">Start putting your brand in motion today!</h1>
                </div>
                <div class="row justify-content-center pt-2 pb-3">
                    <a href="{% url 'media:contact' %}"><button class="btn btn-lg wow fadeIn media-btn-3">Contact</button></a>
                </div>
            </div>
        </div>
        <!-- /Contact-->

        <!-- Platform Dict -->
            <div class="hidden-sm-down">
                <div class="media-compact p-3">
                    <div class="row justify-content-center">
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:adbikes' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/AB.jpg" alt="Adbikes">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:aerial-inflatables' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/infl.jpg" alt="Aerial Inflatables">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:digital-mobile-billboards' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/DMB.jpg" alt="Digital Mobile Billboards">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:brand-ambassadors' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/BA.jpg" alt="Brand Ambassadors">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:banners' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/BB.jpg" alt="Building Banners">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:digital-adbikes' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/DAB.jpg" alt="Digital Adbikes">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:fence-wraps' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/FW.jpg" alt="Fence Wraps">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:human-directionals' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/HD.jpg" alt="Human Directionals">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:mobile-billboards' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/MB.jpg" alt="Mobile Billboards">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:projection-media' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/PM.jpg" alt="Projection Media">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:roller-boards' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/RB.jpg" alt="Roller Boards">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:sculptures' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/sculpture.jpg" alt="Sculptures">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:segways' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/SW.jpg" alt="Segways">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:street-graphics' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/SG.jpg" alt="Street Graphics">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:walking-billboards' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/WB.jpg" alt="Walking Billboards">
                          </div></a>
                        </div>
                        <div class="mx-auto"><a class="media-link" href="{% url 'media:3D-mobile-billboards' %}">
                          <div class="">
                            <img class="card-img-top img-fluid mx-auto btn-outline-grey" src="../../static/media/images/main-icons/50x50/3D.jpg" alt="3D Mobile Billboards">
                          </div></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Platform Link for small screens -->
            <div class="media-testimonials hidden-md-up">
                <div class="container py-2 text-white">
                    <div class="row justify-content-center">
                        <h3 class="mt-1 wow fadeInLeft text-center">See more platforms!</h3>
                        <a href="{% url 'media:home' %}#media_link"><button type="button" class="btn wow fadeInRight media-btn btn-lg mx-4">Go!</button></a>
                    </div>
                </div>
            </div>
            <!-- /Platform Link for small screens -->
        <!-- /Platform Dict-->

        <!-- footer -->
        <div class="bg-faded">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="media_footer col-md-3 col-sm-5 mx-auto p-4">
                         <h6 class="pb-1">CORPORATE HEADQUARTERS</h6>
                         <h7>National Mobile Billboards, LLC<br />
                         DBA/NMB Media<br />
                         5101 NW 21 Ave.<br />
                         Suite 340<br />
                         Fort Lauderdale, FL 33309</h7>
                         <h6 class="pt-3 pb-1">CONTACT</h6>
                         <h7>(800) 544-3305</h7>
                    </div>
                     <div id="media_footer_links" class="col-md-3 col-sm-5 mx-auto p-4">
                        <h6>LINKS</h6>
                        <nav class="nav navbar-light flex-column ml-0">
                            <a class="nav-link media-link pl-0" href="{% url 'media:home' %}">Home</a>
                            <div class="nav-item dropdown">
                                <a class="nav-link media-link pl-0 dropdown-toggle" data-toggle="dropdown" href="#"
                                   role="button" aria-haspopup="true" aria-expanded="false">About</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'media:about' %}">Our Story</a>
                                  <a class="dropdown-item" href="{% url 'media:whyooh' %}">Why OOH?</a>
                                  <a class="dropdown-item" href="{% url 'media:testimonials' %}">Testimonials</a>
                                  <a class="dropdown-item" href="{% url 'media:clients' %}">Clients</a>
                                  <a class="dropdown-item" href="{% url 'media:facebook' %}">Facebook Video</a>
                                  <a class="dropdown-item" href="{% url 'media:instagram' %}">Instagram Video</a>
                                </div>
                            </div>
                            <a class="nav-link media-link pl-0" href="{% url 'media:design-specs' %}">Design Specs</a>
                            <a class="nav-link media-link pl-0" href="{% url 'media:contact' %}">Contact</a>
                            <a class="nav-link media-link pl-0" href="{% url 'media:home' %}#media_link">Media Platforms</a>
                            <a class="nav-link media-link pl-0" href="{% url 'media:pdf-view' %}">NMB Media Kit</a>
                            <a class="nav-link media-link pl-0" href="#">Become A Brand Ambassador</a>
                        </nav>
                    </div>
                    <div class="media_footer col-md-3 col-sm-5 mx-auto p-4">
                         <h6>MEDIA PLACEMENT</h6>
                         <h7><a href="mailto:sales@nmbmedia.com">sales@nmbmedia.com</a></h7>
                         <h6 class="pt-3">DESIGN & PRODUCTION</h6>
                         <h7><a href="mailto:design@nmbmedia.com">design@nmbmedia.com</a></h7>
                         <h6 class="pt-3">CAREERS</h6>
                         <h7><a href="mailto:career@nmbmedia.com">career@nmbmedia.com</a></h7>
                    </div>
                    <div id="media_footer_memberships" class="col-md-2 col-sm-5 mx-auto p-4">
                         <h6 class="pb-2">MEMBERS OF</h6>
                        <div class="row">
                          <a href="http://OAAA.org" class="p-3"><img class="img-fluid" src="../../static/media/images/OOH.png" width=150px /></a>
                        </div>
                        <div class="row">
                          <a href="http://geopath.org" class="p-3"><img class="img-fluid" src="../../static/media/images/Geopath.gif" width=150px /></a>
                        </div>
                    </div>
                </div>
                <div class="row ml-sm-4 pl-sm-3 ml-md-2 justify-content-center">
                    <!-- <a href="https://www.facebook.com/promotionsinmotion/" class="px-2"><img width="40" src="../../static/media/images/youtube.png" /></a> -->
                    <a href="https://www.facebook.com/OOHProfessionals/" class="px-4 py-1"><img width="40" src="../../static/media/images/facebook.png" /></a>
                    <a href="https://www.linkedin.com/company/1319249/" class="px-4 py-1"><img width="40" src="../../static/media/images/linkedin.png" /></a>
                    <a href="https://www.instagram.com/oohprofessionals/" class="px-4 py-1"><img width="40" src="../../static/media/images/instagram.png" /></a>
                </div>
                <div id="footer_rights" class="row ml-sm-4 pl-sm-3 ml-md-2 pb-2">
                    <small class="text-sm-center">&copy; 2017 All Rights Reserved</small>
                </div>
            </div>
        </div>
    		<!-- /footer -->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="../../static/media/MDB/js/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="../../static/media/MDB/js/tether.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="../../static/media/MDB/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="../../static/media/MDB/js/mdb.min.js"></script>
        <!-- WOW -->
        <script type="text/javascript" src="../../static/media/MDB/js/wow.js"></script>
	</body>
</html>
