{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-about-background">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Clients</h1>
                <p class="section-description animated fadeInDown mb-2">Take a look at some of the amazing clients who
                    have taken advantage of NMB's effective media platforms!</p>
                <div class="p-1 type-LineString animated fadeInLeft"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-01.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-02.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-03.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-04.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-05.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-06.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-07.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-08.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-09.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-10.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-11.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-12.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-13.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-14.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-15.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-16.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-17.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-18.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-19.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-20.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-21.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-22.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-23.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-24.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-25.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-26.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-27.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-28.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-29.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-30.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-31.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-32.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-33.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-34.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-35.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-36.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-37.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-38.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-39.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-40.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-41.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-42.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-43.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-44.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-45.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-46.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-47.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-48.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-49.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-50.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-51.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-52.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-53.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-54.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-55.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-56.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-57.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-58.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-59.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-60.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-62.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-63.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-64.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-65.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-66.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/logos-200x200/logo-67.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
