{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-contact">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 media-text pb-2 animated fadeInDown text-center">Contact Us</h1>
                <p class="section-description animated fadeInDown mb-5">Let us help you develop and
                    implement the most successful out of home campaign possible.</p>
                <div class="row">

                    <div class="col-md-5 wow fadeIn">
                        <div class="card">
                            <div method="post" class="card-block">

                                <div class="form-header media-color">
                                    <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                                </div>
                                <form class="media-form" role="form" action="" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <!-- <i class="fa fa-user prefix"></i> -->

                                        <label class="pl-2" for="id_name">Name:</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="">
                                        <label class="pl-2" for="id_email">Email:</label>
                                        {{ form.email }}
                                    </div>
                                    <div>
                                        <label class="pl-2" for="id_message">Message:</label>
                                        {{ form.message }}
                                    </div>
                                    <div class="text-center">
                                        <button class="btn media-btn">Submit</button>
                                    </div>
                                </form>



                                <!--<div class="md-form">-->
                                    <!--<i class="fa fa-user prefix"></i>-->
                                    <!--<input type="text" id="form3" class="form-control">-->
                                    <!--<label for="{{ name }}">Name</label>-->
                                <!--</div>-->
                                <!--<div class="md-form">-->
                                    <!--<i class="fa fa-envelope prefix"></i>-->
                                    <!--<input type="text" id="form2" class="form-control">-->
                                    <!--<label for="form2">Email</label>-->
                                <!--</div>-->
                                <!--<div class="md-form">-->
                                    <!--<i class="fa fa-tag prefix"></i>-->
                                    <!--<input type="text" id="form32" class="form-control">-->
                                    <!--<label for="form32">Subject</label>-->
                                <!--</div>-->
                                <!--<div class="md-form">-->
                                    <!--<i class="fa fa-pencil prefix"></i>-->
                                    <!--<textarea type="text" id="form8" class="md-textarea"></textarea>-->
                                    <!--<label for="form8">Message</label>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!--Google map-->
                        <div id="map-container" class="z-depth-1-half wow fadeIn map-container" style="height: 400px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7627.341843582136!2d-80.17666720206375!3d26.190029818382175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d903ef69f21afd%3A0xd8d7fb551d96bb05!2sNMB+Media!5e0!3m2!1sen!2sus!4v1500926172340"
                                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <br>
                        <div class="row text-center">
                            <div class="col-md-4 wow fadeIn">
                                <a class="btn-floating btn-lg"><i class="fa fa-map-marker "></i></a>
                                <p>5101 NW 21 Ave.</p>
                                <p>Suite 340</p>
                                <p>Fort Lauderdale, FL 33309</p>
                                <p>United States</p>
                            </div>
                            <div class="col-md-4 wow fadeIn">
                                <a class="btn-floating btn-lg"><i class="fa fa-phone"></i></a>
                                <p>(800) 544 3305</p>
                                <p>Mon - Fri, 9:30am-5:30pm</p>
                            </div>
                            <div class="col-md-4 wow fadeIn">
                                <a class="btn-floating btn-lg"><i class="fa fa-envelope"></i></a>
                                <a href="mailto:sales@nmbmedia.com"><p>sales@nmbmedia.com</p></a>
                                <a href="mailto:design@nmbmedia.com"><p>design@nmbmedia.com</p></a>
                                <a href="mailto:career@nmbmedia.com"><p>career@nmbmedia.com</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
