{% extends 'media/base.html' %}
{% load static %}

{% block content %}

<div class="media-about-background">
  <div class="container justify-content-center">
      <section class="section my-3">
          <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Design Specification Templates</h1>
          <p class="section-description animated fadeInDown mb-2">Please click on the appropriate link below for your Design Guide.</p>
          <div class="p-1 type-LineString animated fadeInLeft"></div>
          <div class="row justify-content-center pb-2 pt-4">
              <div class="media-platform-card col-3 mx-auto"><a class="media-link" href="{% url 'media:adbike_pdf' %}">
                <div class="card media-card wow fadeInUp m-0">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/AB.jpg" alt="Adbike">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Adbikes</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card col-3"><a class="media-link" href="{% url 'media:aerial_inflatables_pdf' %}">
                <div class="card media-card wow fadeInUp">
                    <div class="row mx-auto p-2">
                        <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/infl.jpg" alt="Aerial Inflatable">
                    </div>
                    <div class="py-1 px-2 text-center">
                        <h4 class="card-title media-card-title m-0">Aerial Inflatables</h4>
                    </div>
                </div></a>
              </div>

              <div class="media-platform-card col-3"><a class="media-link" href="{% url 'media:digital_mobile_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/DMB.jpg" alt="Digital Mobile Billboards">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Digital Mobile Billboards</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:digital_adbike_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/DAB.jpg" alt="Digital Adbikes">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Digital Adbikes</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:human_directionals_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/HD.jpg" alt="Human Directionals">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Human Directionals</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:mobile_billboards_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/MB.jpg" alt="Mobile Billboards">
                  </div>
                  <div class="py-1 px-2 text-center">
                      <h4 class="card-title media-card-title m-0">Mobile Billboards</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:projection_media_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/PM.jpg" alt="Projection Media">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Projection Media</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:roller_boards_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/RB.jpg" alt="Roller Boards">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Roller Boards</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:segways_pdf' %}">
                <div class="card media-card wow fadeInUp">
                  <div class="row mx-auto p-2">
                    <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/SW.jpg" alt="Segways">
                  </div>
                  <div class="py-1 px-2 text-center">
                    <h4 class="card-title media-card-title m-0">Segways</h4>
                  </div>
                </div></a>
              </div>

              <div class="media-platform-card"><a class="media-link" href="{% url 'media:walking_billboards_pdf' %}">
                <div class="card media-card media-card wow fadeInUp just">
                    <div class="row mx-auto p-2">
                      <img class="img-fluid mx-auto media-card-img z-depth-0" src="../../static/media/images/main-icons/100x100/WB.jpg" alt="Walking Billboards">
                    </div>
                    <div class="py-1 px-2 text-center">
                      <h4 class="card-title media-card-title m-0">Walking Billboards</h4>
                    </div>
                </div></a>
              </div>
          </div>

      </section>
  </div>
</div>

{% endblock %}
