{% extends 'media/base.html' %}
{% load static %}

{% block content %}
	<!-- jumbotron -->
    <div id="home" class="media-home">
      <div id="home_wrapper" class="container justify-content-center text-sm-center py-sm-2 py-xl-5">
        <div class="row justify-content-center px-4">
          <div class="media-logo">
            <img class="img-fluid animated flex-center fadeIn pt-2" src="../../static/media/images/logo.jpg"/>
          </div>
        </div>
        <div class="row text-center justify-content-center px-4">
            <p class="lead">The company that will put you directly in front of your consumers.</p>
        </div>
        <div class="row justify-content-center pb-2">
            <a href="#media_link" ><button type="button" class="btn media-btn btn-lg mb-3" >Explore Now</button></a>
        </div>
      </div>
    </div>
    <!-- /jumbotron -->

    <!-- Who We Are -->
    <div class="bg-inverse">
        <div class="container text-white py-md-5 py-sm-2">
            <div class="row">
                <div class="col px-2 text-center">
                    <h2 class="my-2 display-4 media-text">Who We Are</h2>
                    <p class="lead hidden-md-up px-2">Since 2001, NMB has been on the forefront of branding products to the public.</p>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 ml-3 hidden-sm-down">
                    <h4 class="p-3 text-center mb-0">We employ...</h4>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3 media-icon-why" height="53px" src="../../static/media/images/bm.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Seasoned Professionals</h6>
                        </div>
                    </div>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3 media-icon-why" width="50px" src="../../static/media/images/lightbulb.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Multi-Media Platforms</h6>
                        </div>
                    </div>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3" src="../../static/media/images/brain.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Innovative Brand Awareness Strategies</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-sm-down">
                    <h4 class="p-3 text-center mb-0">To help you...</h4>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3 media-icon-why" width="50px" src="../../static/media/images/hands.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Connect with consumers</h6>
                        </div>
                    </div>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3" width="50px" src="../../static/media/images/people.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Reach all demographics</h6>
                        </div>
                    </div>
                    <div class="media p-3">
                        <img class="d-flex wow fadeInLeft align-self-center mr-3" width="50px" src="../../static/media/images/dollar.png">
                        <div class="media-body">
                            <h6 class="mt-2 p-2">Generate higher returns on advertising dollars</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-4">
                <a href="{% url 'media:about' %}" ><button type="button" class="btn btn-lg media-btn">Our Story</button></a>
            </div>
        </div>
    </div>
    <!-- /Who We Are-->

    <!-- Media Platforms-->
    <div class="media-platforms bg-custom-2"><a id="media_link">
        <div class="container-fluid py-sm-1 py-md-4">
            <div class="">
                <div class="row mt-2">
                    <div class="col">
                        <div class="col text-center" text="white">
                            <h2 class=" display-4 mb-md-4 mb-sm-2 media-text">Media Platforms</h2>
                        </div>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="media-platform-card col-3 mx-auto"><a class="media-link" href="{% url 'media:adbikes' %}">
                      <div class="card media-card wow fadeInUp m-0">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/AB.jpg" alt="Adbike">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Adbikes</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card col-3"><a class="media-link" href="{% url 'media:aerial-inflatables' %}">
                      <div class="card media-card wow fadeInUp">
                          <div class="row mx-auto p-2">
                              <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/infl.jpg" alt="Aerial Inflatable">
                          </div>
                          <div class="py-1 px-2 text-center">
                              <h4 class="card-title media-card-title m-0">Aerial Inflatables</h4>
                          </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card col-3"><a class="media-link" href="{% url 'media:digital-mobile-billboards' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/DMB.jpg" alt="Digital Mobile Billboards">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Digital Mobile Billboards</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card col-3"><a class="media-link" href="{% url 'media:brand-ambassadors' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/BA.jpg" alt="Brand Ambassadors">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Brand Ambassadors</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:banners' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/BB.jpg" alt="Building Banners">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Building Banners</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:digital-adbikes' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/DAB.jpg" alt="Digital Adbikes">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Digital Adbikes</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:fence-wraps' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/FW.jpg" alt="Fence Wraps">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Fence Wraps</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:human-directionals' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/HD.jpg" alt="Human Directionals">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Human Directionals</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:mobile-billboards' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/MB.jpg" alt="Mobile Billboards">
                        </div>
                        <div class="py-1 px-2 text-center">
                            <h4 class="card-title media-card-title m-0">Mobile Billboards</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:projection-media' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/PM.jpg" alt="Projection Media">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Projection Media</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:roller-boards' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/RB.jpg" alt="Roller Boards">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Roller Boards</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:sculptures' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/sculpture.jpg" alt="Sand & Snow Sculptures">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Sand & Snow Sculptures</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:segways' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/SW.jpg" alt="Segways">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Segways</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:street-graphics' %}">
                      <div class="card media-card wow fadeInUp">
                        <div class="row mx-auto p-2">
                          <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/SG.jpg" alt="Street Graphics">
                        </div>
                        <div class="py-1 px-2 text-center">
                          <h4 class="card-title media-card-title m-0">Street Graphics</h4>
                        </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:walking-billboards' %}">
                      <div class="card media-card media-card wow fadeInUp just">
                          <div class="row mx-auto p-2">
                            <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/WB.jpg" alt="Walking Billboards">
                          </div>
                          <div class="py-1 px-2 text-center">
                            <h4 class="card-title media-card-title m-0">Walking Billboards</h4>
                          </div>
                      </div></a>
                    </div>

                    <div class="media-platform-card"><a class="media-link" href="{% url 'media:3D-mobile-billboards' %}">
                        <div class="card media-card wow fadeInUp">
                          <div class="row mx-auto p-2">
                            <img class="img-fluid mx-auto media-card-img" src="../../static/media/images/main-icons/100x100/3D.jpg" alt="3D Mobile Billboards">
                          </div>
                          <div class="py-1 px-2 text-center">
                            <h4 class="card-title media-card-title m-0">3D Mobile Billboards</h4>
                          </div>
                        </div></a>
                    </div>
                </div>
                <div class="row p-2 justify-content-center">
                    <a href="{% url 'media:adbikes' %}"><button type="button" class="btn media-btn btn-lg">Learn More</button></a>
                </div>
            </div>
        </div></a>
    </div>
    <!-- /Media Platforms -->

    <!-- Testimonials -->
    <div class="media-testimonials">
        <div class="container text-white">
            <div class="row justify-content-center">
                <h2 class="mt-1 px-2 wow fadeInLeft text-center">Don't take our word for it! See our REVIEWS!</h2>
                <a href="{% url 'media:testimonials' %}"><button type="button" class="btn wow fadeInRight media-btn btn-lg mx-4">Go!</button></a>
            </div>
        </div>
    </div>
    <!-- /Testimonials-->

    <!-- Why NMB? -->
    <div class="media-why mb-4">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col">
                    <div class="col text-center" text="white">
                        <h2 class=" display-4 mb-3 media-text">Why NMB?</h2>
                    </div>
                </div>
            </div>
            <div class="row mx-4 animated fadeIn">
              <div class="col-md-5 mx-auto">
                  <div class="card z-depth-0 mx-sm-3">
                      <div class="row justify-content-center py-2">
                          <img class="d-flex flex-center wow fadeInUp z-depth-0 media-logo" src="../../static/media/images/edit.png">
                      </div>
                      <div class="text-center">
                        <h4 class="mt-0 mb-1">Planning</h4>
                        <p>NMB can create local, regional or national programs.
                          Detailed plans directly down to block targeting is key
                          to your campaigns success.</p>
                      </div>
                  </div>
              </div>
              <div class="m-2"></div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center wow fadeInUp z-depth-0 media-logo" src="../../static/media/images/execution.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Execution</h4>
                          <p>We offer complete transparency on all campaigns –
                            24/7 access to our team leaders makes it easy to see
                            how your campaign is preforming.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center wow fadeInUp z-depth-0" src="../../static/media/images/like.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Proof of Performance (POP)</h4>
                          <p>POP ensures your advertising dollar was well spent by providing photo documentation and
                        Google Earth GPS tracking data, within one week of our campaigns’ completion. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="card z-depth-0 mx-sm-3">
                        <div class="row justify-content-center py-2">
                            <img class="d-flex flex-center wow fadeInUp z-depth-0" src="../../static/media/images/piggy-bank.png">
                        </div>
                        <div class="text-center">
                          <h4 class="mt-0 mb-1">Competitive Pricing</h4>
                          <p>We want to create long term relationships, you can’t do that by out pricing the market!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Why NMB? -->

    <!-- Contact -->
    <div class="bg-success-1">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-4 wow fadeIn pt-3">Get in touch</h1>
            </div>
            <div class="row justify-content-center">
                <h1 class="lead wow fadeIn px-2 text-center">Start putting your brand in motion today!</h1>
            </div>
            <div class="row justify-content-center pt-2 pb-3">
                <a href="{% url 'media:contact' %}"><button class="btn btn-lg wow fadeIn media-btn-3">Contact</button></a>
            </div>
        </div>
    </div>
    <!-- /Contact-->

{% endblock %}
