{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-about-background">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Social Media Videos</h1>
                <p class="section-description animated fadeInDown mb-2">Follow us on Facebook and Instagram to stay up to date with NMB!</p>
                <div class="p-1 type-LineString animated fadeInLeft"></div>
                <div class="row justify-content-center">

                  <div class="embed-responsive embed-responsive-16by9 social-media-video">
                    <video width="400" controls>
                      <source class="embed-responsive-item" src="../../static/media/videos/NMBFacebook.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                    <!-- <iframe class="embed-responsive-item" src="../../static/media/videos/NMBFacebook.mp4"></iframe> -->
                  </div>
                  <div class="embed-responsive embed-responsive-16by9 social-media-video">
                    <video width="400" controls>
                      <source class="embed-responsive-item" src="../../static/media/videos/NMBInstagram.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                    <!-- <iframe class="embed-responsive-item" src="../../static/media/videos/NMBFacebook.mp4"></iframe> -->
                  </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
