{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-about-background">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Testimonials</h1>
                <p class="section-description animated fadeInDown mb-2">Don't take our word for it! See our reviews and compare us to the rest!</p>
                <div class="p-1 type-LineString animated fadeInLeft"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-block">
                            
                            
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/mcdonalds.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “I have been using NMB for many years and they have always delivered as promised. Their 
                                            unique offering provides multiple media choices.  The team at NMB allows our team the opportunity to build 
                                            the perfect plan to meet our clients' ever changing objectives.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Mike Castillo</h4>
                                            <h5 class="mb-0"><i>President</i></h5>
                                            <h5 class="mb-0">MC Squared Advertising</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/t-mobile.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “NMB Media has great reach and flexibility.  These characteristics coupled 
                                        with consistently strong delivery over the years have allowed our company to provide significant 
                                        value to our clients year in and year out.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Jeff Hoedebeck</h4>
                                            <h5 class="mb-0"><i>Co-Founder</i></h5>
                                            <h5 class="mb-0">Trilogy Marketing</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/ultra-violet.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “In our industry where messages are timely and deadlines are immediate, 
                                        NMB is able to accommodate  us.  Their ability to work with us within quick turnarounds and 
                                        impeccable service, is hands down the best in the business.  Their products are all over the 
                                        country which allows us to streamline our service to our clients without any bumps in the road.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Cathie Herrick</h4>
                                            <h5 class="mb-0"><i>President</i></h5>
                                            <h5 class="mb-0">Buying Time, LLC</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/glhomes.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “The impact the mobile billboards have made for our model grand openings is 
                                            just what we needed to grab attention in the surrounding community and drive traffic!  NMB also 
                                            suggested excellent vantage points and high traffic routes to ensure our message was seen by as many people as possible!”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Angela L. Ippolito</h4>
                                            <h5 class="mb-0"><i>Marketing Manager</i></h5>
                                            <h5 class="mb-0">GL Homes</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/avmed.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “We worked with NMB for a variety of clients. Frank and
                                            his team are fast, flexible and best of all effective. Their attention to
                                            detail and follow up on both the front and back end of each project make NMB
                                            a great partner.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Vicki Penn</h4>
                                            <h5 class="mb-0"><i>Media Director</i></h5>
                                            <h5 class="mb-0">Beber Silverstein Group</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/centurylink.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> ”Running campaigns for CenturyLink through Frank and NMB has
                                        worked awesome. They're responsive, flexible, accommodating with client changes,
                                        and they deliver exactly what they say they will. This make reconciliation
                                        very easy on our end, which isn't always the case with other non-traditional
                                        vendors."
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Pat Willome</h4>
                                            <h5 class="mb-0"><i>Media Buyer</i></h5>
                                            <h5 class="mb-0">Butler/Till</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/humana.jpg">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “Our primary purpose in using mobile billboards was to
                                            reach a scattered target demo that is not easily reached by other media. NMB
                                            was very responsive to our needs, allowing lots of flexibility in setting up
                                            the routes to conform to specific dates and places requested by our client.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Laura L. Cates</h4>
                                            <h5 class="mb-0"><i>Senior Media Specialist</i></h5>
                                            <h5 class="mb-0">Vimarc</h5></b>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/intuit.png">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “NMB was very responsive and great to work with. They
                                            thought through what the goals of the campaign were and were able to provide
                                            recommendations from their expertise to ensure success metrics were met. Not
                                            only were they professional and got the job done, but they also had fun
                                            doing it and that reflected positively directly back to us and our client.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Sarah Williams</h4>
                                            <h5 class="mb-0"><i>Senior Account Executive</i></h5>
                                            <h5 class="mb-0">RPA</h5></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/constellation-brands.jpg">
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p class="mb-0 p-3"> “We truly appreciate working with a company that sets such high standards,
                                          has exceptional customer service, and consistently over delivers. We truly value our partnership [with NMB]
                                          and look forward to working together on many more successful campaigns.”
                                        <p/>
                                        <div class="px-3 pb-3"><b>
                                            <h4 class="mb-0 pb-1">Rudy Ferrer</h4>
                                            <h5 class="mb-0"><i>Chief Operating Officer</i></h5>
                                            <h5 class="mb-0">Delta Media</h5></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
