{% extends 'media/base.html' %}
{% load static %}

{% block content %}

     <div class="media-about-background">
        <div class="container justify-content-center">
            <section class="section my-3">
                <h1 class="display-4 animated fadeInDown media-text p-4 text-center">Why OOH?</h1>
                <div class="p-1 type-LineString animated fadeInLeft"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-block">
                                <div class="row media-about-body">
                                    <div class="col-md-4 wow fadeInLeft">
                                        <img class="z-depth-0 p-3" src="../../static/media/images/OOH.png"/>
                                    </div>
                                    <div class="col-md-8 wow fadeIn">
                                        <p id="why_ooh" class="b-0 mb-0 p-3"><b>Real. Powerful. Advertising.</b><br/>In a world of clicks, shares, likes and
                                          page views, Out-of-Home (OOH) advertising is more of a core media
                                           buy than ever before. OOH is the real thing. It cannot be blocked,
                                           skipped or viewed by bots. OOH is always on, surrounding and immersing
                                           audiences with real, powerful advertising.
                                         </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
